<h1 class="text-center">User List</h1>
<div class="text-end">
  <button class="btn btn-secondary">Add</button>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Email</th>
      <th>phone</th>
      <th>Address</th>
      <th>City</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody *ngFor="let user of msg">
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.address.street }}</td>
      <td>{{ user.address.city }}</td>
      <td>
        <button class="btn btn-primary">Edit</button>
      </td>
      <td>
        <button class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
